<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/db_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/inventory_style.css') }}">
    <title>Inventory Management</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>Inventory Management</h1>
        </header>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
              <div class="alert alert-danger">
                <ul>
                  {% for message in messages %}
                    <li>{{ message }}</li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}
        {% endwith %}

        <!-- Search Bar -->
        <div class="search-container">
            <label for="inventory-search">Search Inventory:</label>
            <input type="text" id="inventory-search" placeholder="Search by item name...">
        </div>

        <form method="POST" action="{{ url_for('main.update_inventory', project_name=project_name, location=location) }}">
            <div class="inventory-table-container">
                <h2>Current Inventory</h2>
                <div class="table-wrapper">
                    <table id="inventory-table">
                        <thead>
                            <tr>
                                <th>Item</th>
                                <th>Quantity</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for item in inventory_data %}
                            <tr>
                                <td>{{ item['Item'] }}</td>
                                <td>
                                    <input type="number" name="quantity[]" value="{{ item['Quantity'] }}" min="0" readonly>
                                    <input type="hidden" name="old_quantity[]" value="{{ item['Quantity'] }}">
                                    <input type="hidden" name="item_name[]" value="{{ item['Item'] }}">
                                </td>
                                <td>
                                    <button type="button" class="edit-btn">Edit</button>
                                </td>
                                <td>
                                    <button type="button" class="delete-btn" data-item="{{ item['Item'] }}" data-url="{{ url_for('main.delete_inventory_item', project_name=project_name, location=location) }}">Delete</button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Update Inventory Button -->
            <div class="update-button-container">
                <button type="submit">Update Inventory</button>
            </div>
        </form>

        <!-- Add Inventory Tab -->
        <div class="tab-content active" id="add-inventory">
            <h2>Add Inventory</h2>
            <form method="POST" action="{{ url_for('main.add_inventory', project_name=project_name, location=location)}}" id="addInventoryForm">
                <div id="inventory-entries" class="inventory-entry-container">
                    <div class="inventory-entry autocomplete">
                        <label for="add-item-name-1">Item:</label>
                        <input type="text" id="add-item-name-1" name="item_name[]" autocomplete="off" required> 
                        <div id="add-suggestions-1" class="suggestions-dropdown"></div>
                        <label for="add-quantity-1">Quantity:</label>
                        <input type="number" id="add-quantity-1" name="quantity[]" min="1" required>
                    </div>
                </div>
                <button type="button" id="add-entry">Add Another Item</button>
                <button type="submit">Submit</button>
            </form>
        </div>

        <!-- Hidden container for item suggestions -->
        <div id="item-suggestions-data" style="display:none;">
            {{ item_suggestions|tojson }}
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/inventory_script.js') }}"></script>
</body>
</html>